html{
scroll-behavior:smooth;
}

body{
margin:0;
background:black;
color:#00ff66;
font-family:Consolas,monospace;
overflow-x:hidden;
}

/* MATRIX LADOS */
canvas{
position:fixed;
top:0;
width:120px;
height:100%;
z-index:-1;
}

#matrix-left{left:0;}
#matrix-right{right:0;}

/* HEADER */
header{
text-align:center;
padding:50px 20px;
border-bottom:1px solid #00ff66;
}

/* FOTO */
.profile-container img{
width:170px;
height:170px;
border-radius:50%;
border:3px solid #00ff66;
box-shadow:0 0 20px #00ff66;
}

/* NAV */
nav a{
color:#00ff66;
border:1px solid #00ff66;
padding:10px 20px;
margin:5px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
background:#00ff66;
color:black;
box-shadow:0 0 10px #00ff66;
}

/* VENTANAS */
.window{
background:rgba(0,0,0,0.9);
border:1px solid #00ff66;
margin:50px auto;
max-width:900px;
padding:40px 20px 20px 20px;
border-radius:10px;
box-shadow:0 0 25px #00ff66;
position:relative;
transition:0.3s;
}

.window:hover{
transform:translateY(-8px);
}

.window-bar{
position:absolute;
top:10px;
left:15px;
display:flex;
gap:8px;
}

.btn{
width:14px;
height:14px;
border-radius:50%;
}

.red{background:#ff5f56;}
.yellow{background:#ffbd2e;}
.green{background:#27c93f;}

h1,h2{
text-shadow:0 0 15px #00ff66;
}

footer{
text-align:center;
padding:20px;
border-top:1px solid #00ff66;
}
